body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f8f8f8;
}

#search-container {
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px;
  width: 300px;
}

#searchBtn {
  padding: 10px 20px;
}

.book-card {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
