body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #911212;
  color: white;
}

h1,
h2 {
  text-align: center;
}

#search-container {
  margin-bottom: 20px;
  text-align: center;
}

#searchInput {
  padding: 10px;
  width: 300px;
}

#searchBtn {
  padding: 10px 20px;
}

form {
  text-align: center;
  margin-bottom: 20px;
}

form input,
form button {
  padding: 10px;
  margin: 5px;
}

.book-card {
  background: white;
  color: black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
